@import url('./font/font.css');

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-size: 16px;
}


#app {
  width: 100%;
  height: 100%;
}

.ice-robot {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='currentColor' d='M12 2a2 2 0 0 1 2 2v2h2a2 2 0 0 1 2 2v2h2a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2h-2v2a2 2 0 0 1-2 2H8a2 2 0 0 1-2-2v-2H4a2 2 0 0 1-2-2v-5a2 2 0 0 1 2-2h2V8a2 2 0 0 1 2-2h4zm-4 8H6v5h2V10zm10 0h-2v5h2V10zM9 4v2h6V4H9z'%3E%3C/path%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: contain;
}